/* Set master colors: https://github.com/xz/new.css/wiki/Customizing-Themes#legend */
:root {
	/*--nc-font-sans: ...;*/
	/*--nc-font-mono: ...;*/
	--nc-tx-1: light-dark(#000000, #FFFFFF);
	--nc-tx-2: light-dark(#1A1A1A, #EEEEEE);
	--nc-bg-1: light-dark(#FFFFFF, #000000);
	--nc-bg-2: light-dark(#F6F8FA, #111111);
	--nc-bg-3: light-dark(#E5E7EB, #222222);
	--nc-lk-1: light-dark(#0070F3, #3291FF);
	--nc-lk-2: light-dark(#0366D6, #0070F3);
	--nc-lk-tx: light-dark(#FFFFFF, #FFFFFF);
	--nc-ac-1: light-dark(#79FFE1, #7928CA);
	--nc-ac-tx: light-dark(#0C4047, #FFFFFF);
}

body, header {
	transition: background-color 0.3s;
}

.github-corner svg {
	fill: var(--nc-tx-2);
	color: var(--nc-bg-2);
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,100% {transform: rotate(0)}
	20%,60% {transform: rotate(-25deg)}
	40%,80% {transform: rotate(10deg)}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
